# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude Code

# Apple Code Signing
APPLE_SIGNING_SECRETS.md
*.key
*.cer
*.certSigningRequest
*.p12
certificate.p12

.claude
